<div class="container">
	<div class="row" id="body">
		<div class="header">
			<h3>　Post All</h3>
		</div>
			<div>
				<%= link_to "投稿する", new_post_path, remote:true %>
			</div>
			<div>
				
			</div>
		</div>
	</div>
</div>
