// Place all the styles related to the publics/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// users/show.html.erb
.window-top {
	width: 100%;
	margin: 0 auto;
	float: left;
}

.window-bottom {
	width: 100%;
	margin: 50px auto 0;
	float: left;
}

#image_profile {
	border: 5px solid black;
	border-radius: 30px;
	box-shadow: 0 0 5px gray;
}

.user_block {
	margin-left: 20px;
}

// users/matching.html.erb


.flame {
	width: 24%;
	padding-top: 10px;
	margin: 10px auto;
	position: relative;
	border: solid #000;
	border-radius: 20px;
	.user_flame {
		padding-bottom: 20px;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		.matching_link {
			position: absolute;
			bottom: 5px;
			left: 15px;
		}
		.info_link {
			position: absolute;
			bottom: 5px;
			right: 15px;
		}
		li:nth-of-type(3) {
			min-height: 100px;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.7);
		}
		.w-auto {
			width: 100%;
		}
	}
}

// users/index.html.erb
.match_users {
	width: 80%;
	float: left;
	margin: 0 auto;
	.match_user {
		width: 45%;
		padding: 20px;
		float: left;
		margin: 15px 0;
		border: solid;
		border-radius: 20px;
		background-color: rgba(255, 255, 255, 0.7);
		line-height: 30px;
		li:nth-of-type(1) {
			margin-top: 20px;
		}
		.table {
			margin-bottom: 0px;
		}
		#match_table {
			tr {
				vertical-align: middle;
				td {
					vertical-align: middle;
				}
			}
		}
	}
	.match_user:nth-child(even) {
		float: right;
	}
}

// layouts/_top_profile(users/show.html.erbへのrender)
.left_profile {
	float: left;
	width: 45%;
	text-align: center;
	.image_table {
		margin: 0 auto;
		.image_profile {
			#image_profile {
				width: 180px;
			}
		}
	}
}

.right_profile {
	float: right;
	width: 45%;
	.info_table {
		width: 80%;
	}
	li {
		text-decoration: underline;
	}
}

// layouts/_bottom_profile(users/show.html.erbへのrender)
#calendar {
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	padding: 5px;
	min-height: 55vh;
	margin-left: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 45%;
	.calendar_link {
		width: 100%;
	}
}

// layouts/_info.html.erb
.user_info {
	float: right;
	width: 45%;
	border: 1px solid black;
	border-radius: 4px;
	padding: 30px;
	margin-right: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	.info_box {
		height: 25vh;
		width: 100%;
		word-wrap: break-word;
		overflow-y: scroll;
		margin-bottom: 10px;
		border: 1px solid black;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.edit2_link {
		width: 100%;
	}
}


.user_info_min {
	width: 100%;
	margin: 0 auto;
	.info_box_min {
		width: 95%;
		height: 15vh;
		word-wrap: break-word;
		overflow-y: scroll;
		border: solid;
		border-radius: 5px;
		margin-bottom: 10px;
	}
}

// layouts/_edit2.html.erb(_bottom_profileからのmodal画面)
#user_textarea {
	height: 25vh;
}