<div class="container">
	<div class="row">
		<div class="window-left col-sm-6">
			<div class="image_profile" id="profile">
				<%= render 'layouts/image_profile', user: @user %>
			</div>
			<div class="calendar">

			</div>
		</div>
		<div class="window-right col-sm-6" id="right">
			<%= render 'layouts/right_profile', user: @user %>
		</div>
	</div>
</div>
