// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	height: 100%;
}

.row {
	height: 100%;
}

.about-wrappers {
	vertical-align: middle;
	padding: 0 50px;
	margin: 0 auto;
	width: 100%;
	background-color: red;
	height: 100%;
	border: 1px solid #000;
}

.about-wrapper {
	width: 95%;
	height: 45vh;
	background-color: blue;
	border: 1px solid #000;
	padding: 10px;
	margin: 50px auto;
	text-align: center;
}

.about-wrapper:nth-of-type(2) {
	height: 60vh;
}

.about-content {
	width: 45%;
	height: 100%;
	background-color: green;
	display: inline-block;
}

.about-content:nth-of-type(1) {
	margin-right: 50px;
}

.about-content:nth-of-type(2) {

}

.about-content:nth-of-type(3) {
	margin-right: 50px;
}

.about-content:nth-of-type(4) {

}


.about-image1 {
	background-image: url(tops2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.about-image2 {
	background-image: url(tops1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.slide-option{
  height: 55vh;
  width :100%;
}
