// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-wrappers {
	vertical-align: middle;
	padding: 0 50px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	.about-wrapper {
		width: 95%;
		height: 45vh;
		padding: 15px;
		margin: 50px auto;
		text-align: center;
		.about-image1 {
			background-image: asset-url("tops2.jpg");
			background-size: cover;
			background-repeat: no-repeat;
		}

		.about-image2 {
			background-image: asset-url("tops1.jpg");
			background-size: cover;
			background-repeat: no-repeat;
		}
		.about-content {
			width: 45%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.6);
			display: inline-block;
			border: ridge 10px #3c3c3c;
			text-align: -webkit-center;
			.about-sentence {
				display: table-cell;
			    font-weight: bold;
			    height: 220px;
			    vertical-align: middle;
			}
		}

		.about-content:nth-child(odd) {
			margin-right: 50px;
		}
	}
	.about-wrapper:nth-of-type(2) {
		height: 100%;
		border: ridge 15px #3c3c3c;
		background-color: rgba(0, 0, 0, 0.6);
		position: relative;
		.wrap-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			-webkit-transform: translateY(-50%) translateX(-50%);
			margin: auto;
			z-index: 10;
			width: 40%;
			height: 15%;
			background-color: rgba(0, 0, 0, 0.3);
			color: #fff;
			text-align: center;
			display: table;
			border-radius: 5px;
			.user-count {
				font-size: 20px;
				font-weight: bold;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}


.privacy_policy, .term {
	width: 80%;
	margin: 0 auto;
}

.slide-option{
  height: 55vh;
  width :100%;
}


@media screen and (max-width:1024px) {
	.about-wrappers {
		.about-wrapper {
			height: auto;
			.about-image1, .about-image2 {
				display: none;
			}
			.about-content {
				width: 100%;
				height: auto;
				margin: 0;
				.about-sentence {
					font-size: large;
					padding: 50px;
					height: 170px;
				}
			}
			.about-content:nth-child(odd) {
			}
		}
		.about-wrapper:nth-of-type(3) {
			height: auto;
		}
	}
	.slide-option {
		height: auto;
	}
}

@media screen and (max-width:420px) {
	.about-wrappers {
		.about-wrapper:nth-of-type(2) {
			.wrap-content {
				.user-count {
					font-size: smaller;
				}
			}
		}
		.about-wrapper {
			.about-content {
				.about-sentence {
					font-size: small;
					padding: 40px 0;
				}
			}
		}
	}
}



